// You can add CSS rules here that will be inlined into each document.
.sidebar a {
  text-shadow: rgba(0, 0, 0, 0.25) 0.1rem 0.1rem 0.15rem;
}

$dark-blue: #204056;

.hr-bottom {
  border-bottom: 1.5px dashed $dark-blue;
  padding-bottom: 0.75rem;
  margin-bottom: 1rem;
}

html[data-theme="light"] {
  --link-color: rgb(0, 112, 201);
  --main-background-color: #fff;
  --main-text-color: hsl(0, 0%, 20%);
  --border-color: #ebebeb;
  --highlight-color: #727272;
  --menu-text-color: rgb(71, 71, 71);
  --highlight-bg: rgba(196, 196, 196, 0.219);
  --gray-bg:rgba(0,0,0,0.025);
}

html[data-theme="dark"] {
  --link-color: rgb(100, 210, 255);
  --main-background-color: hsl(0, 0%, 20%);
  --main-text-color: hsl(0, 0%, 85%);
  --border-color: #343c3f;
  --menu-text-color: #bbb;
  --highlight-bg: rgba(161, 161, 161, 0.096);
  --code-text: #abb2bf;
  --gray-bg:rgba(255,255,255,.033);
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  padding: 1em;
}

#_navbar {
  background-color: var(--main-background-color) !important;
}

.nav-btn-bar {
  background-color: var(--main-background-color) !important;
}

article {
  max-width: 650px;
  margin: 2em auto;
}

.flip-title {
  color: var(--main-text-color);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 2em;
}

p {
  font-size: 1.1rem;
}

main a {
  color: var(--main-text-color) !important;
}

.external {
  color: var(--main-text-color) !important;
}

.note-sm {
  color: var(--main-text-color);
}

.switch-button {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;
  border-color: hsl(0, 0%, 40%);
  border-radius: 20px;
  border-width: 1px;
}
.switch-button input {
  opacity: 0;
  width: 0;
  height: 0;
}
.onoff-switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  -webkit-transition: 0.4s;
  box-shadow: inset 1px 5px 1px #e3ae56;
  transition: 0.4s;
}
.onoff-switch:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.5s;
  background-image: url("/assets/img/sun.png");
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;

  transition: 0.4s;
  border-radius: 20px;
}
.switch-button input:checked + .onoff-switch {
  background-color: #222222;
  box-shadow: inset 1px 5px 1px #6e6e6e;
}
.switch-button input:checked + .onoff-switch:before {
  background-image: url("/assets/img/moon.png");
  -webkit-transform: translateX(26px);
  background-color: #333;
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

th {
  background-color: var(--border-color);
  color: var(--main-text-color);
}

td {
  background-color: var(--main-background-color) !important;
}

.content .avatar {
  float: right;
  box-sizing: content-box;
  border: 1rem solid var(--main-background-color) !important;
  transition: border-color 1s ease;
  margin-top: -1.5rem;
  margin-right: -1rem;
}

.avatar {
  width: 8rem;
  border-radius: 100%;
  overflow: hidden;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.nav-btn {
  color: var(--menu-text-color);
}

pre {
  background-color: var(--highlight-bg);
}

mjx-container {
  overflow-x: hidden;
  overflow-y: hidden;
}

blockquote {
  color: rgb(150, 150, 150) !important;
}

code {
  background-color: var(--gray-bg);
}