// You can add CSS rules here that will be inlined into each document.
.sidebar a {
  text-shadow: rgba(0, 0, 0, 0.25) 0.1rem 0.1rem 0.15rem;
}

/* =Variables
----------------------------------------------------------------------------- */
$dark-blue: #204056;

.hr-bottom {
  border-bottom: 1.5px dashed $dark-blue;
  padding-bottom: 0.75rem;
  margin-bottom: 1rem;
}

html[data-theme="light"] {
  --link-color: rgb(0, 112, 201);
  --main-background-color: hsl(0, 0%, 90%);
  --main-text-color: hsl(0, 0%, 20%);
}

html[data-theme="dark"] {
  --link-color: rgb(100, 210, 255);
  --main-background-color: hsl(0, 0%, 20%);
  --main-text-color: hsl(0, 0%, 85%);
}

@media (prefers-color-scheme: dark) {
  html,
  html[data-theme="dark"] {
    --link-color: rgb(100, 210, 255);
    --main-background-color: hsl(0, 0%, 20%);
    --main-text-color: hsl(0, 0%, 85%);
  }

  html[data-theme="light"] {
    --link-color: rgb(0, 112, 201);
    --main-background-color: hsl(0, 0%, 90%);
    --main-text-color: hsl(0, 0%, 20%);
  }
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 1em;
}

a {
  color: var(--main-text-color);
}

article {
  max-width: 650px;
  margin: 2em auto;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 2em;
}

p {
  font-size: 1.25rem;
}

/* The switch - the box around the slider */
.theme-button {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  vertical-align: 'center';
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
  opacity: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

p {
  margin: 0px;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
}
